<div class="card d-flex flex-row justify-content-center align-items-center gap-3" style="width: 25rem; height: 7rem; overflow-x:scroll">
  <% (0..9).each do %>
    <%= render 'story/story' %>
  <% end %>
</div>