<div class="d-flex justify-content-between">
  <div class="d-flex ">
    <%= image_tag 'user-pp.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem" %>  
    <div class="d-flex flex-column mx-3 justify-content-center">
      <p class="card-text m-0"> <span class="fw-body"><b><%= comment.user.username %></b> </span> <%= comment.body %> </p>
    </div>
  </div> 
</div>